.about-section {
  padding: 5rem 0 1rem;
  background-color: var(--secondary-color);
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  font-family: var(--font-prompt);
  position: relative;
}

.about-img-wrap {
  width: 100%;
  max-width: 500px;
  position: relative;
}

.about-img-wrap::after {
  position: absolute;
  top: -15px;
  right: 15px;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--fourth-color);
}

.about-img-wrap > img {
  position: relative;
  z-index: 11;
}

.about-content {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.our-story {
  color: var(--accent-color);
  font-weight: 700;
  text-transform: uppercase;
}

.about-content > h1 {
  font-family: var(--font-rubik);
  text-transform: uppercase;
  color: var(--font-color-1);
  font-size: 2em;
  font-weight: 800;
}

.about-description {
  color: var(--font-color-2);
}

/* TEAM MEMBER SECTION */

.team-section {
  background: url("/assets/img/home-section/tan-brush-pattern.png") no-repeat;
  background-size: cover;
  background-color: var(--secondary-color);
  padding: 5rem 0 2rem;
}
.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-section-title {
  text-align: center;
}

.team-container > p {
  text-align: center;
}

.team-card-wrapper {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.team-card {
  width: 100%;
  max-width: 400px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.team-member-detail {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: var(--font-prompt);

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 200, 0, 0) 100%
  );
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  /* opacity: 0; */
  top: 100%;
  transition: all 0.7s ease-in-out;
  overflow: hidden;
}

.member-name {
  color: var(--font-color-1);
}

.designation {
  color: var(--font-color-1);
  font-weight: 500;
}
.member-social-wrap {
  align-self: center;
  margin-block: 5px 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.member-social-wrap > a {
  color: var(--font-color-1);
  font-size: 1.2em;
}

.team-card:hover .team-member-detail {
  top: 0;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 200, 0, 0.826) 100%
  );
}

@media screen and (min-width: 767px) {
  .about-content > h1 {
    font-size: 3em;
  }
  .team-section-title {
    font-size: 2.8em;
  }

  .team-card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .about-container {
    flex-direction: row;
    gap: 50px;
  }

  .about-content {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .about-section {
    padding: 5rem 0;
  }
  .about-container {
    gap: 50px;
    justify-content: cent;
  }
  .about-content {
    width: 50%;
  }
  .team-card {
    max-width: 350px;
  }
  .about-img-wrap {
    width: 100%;
    max-width: 600px;
  }
  .team-section {
    background-size: 1920px 100%;
  }
}

@media screen and (min-width: 1920px) {
  .team-section {
    background: url("/assets/img/home-section/tan-brush-pattern.png") no-repeat;
    background-size: 100% 100%;
    background-color: var(--secondary-color);
  }
}
